{{ define "index" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX & SSE: Chat App</title>
    <script src="https://unpkg.com/htmx.org@1.9.7/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <link rel="icon" type="image/png" href="https://em-content.zobj.net/source/skype/289/speech-balloon_1f4ac.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />

    {{ template "styles" . }}
  </head>
  <body>
    <div class="has-background-info p-4 has-text-white-bis">
      <div class="is-flex is-align-items-center" id="nav">
        <div class="is-flex-grow-1 is-size-3"><b>💬 Chat App</b></div>

        {{ if .username }}
        <div id="logoutButton">
          <div class="button is-success" hx-post="/logout" hx-target="#main" hx-confirm="Are you sure?">LOGOUT</div>
        </div>
        {{ end }}
      </div>
    </div>

    <div id="main" class="fh">{{ if .username }} {{ template "chat" . }} {{ else }} {{ template "login" . }} {{ end }}</div>
  </body>
</html>

{{ end }}
