{{ define "login" }}

<div hx-swap-oob="delete:#loggedInButtons"></div>

<div class="section p-4">
  {{ if .error }}
  <div class="notification is-danger">{{ .error }}</div>
  {{ end }}
  <h3 class="title is-3">Login / User Entry</h3>
  <form hx-post="/login" hx-target="#main">
    <div class="field">
      <label class="label">Pick a name</label>
      <div class="control">
        <input class="input is-medium" type="text" placeholder="Text input" name="username" required autocomplete="off" />
      </div>
    </div>

    <div class="control">
      <button class="button is-success"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;ENTER CHAT</button>
    </div>
  </form>
  <hr />
  <h3 class="title is-3">Active Users</h3>
  <div>
    <ul hx-get="/users" hx-trigger="load,every 3s" class="users"></ul>
  </div>
</div>

{{ end }}
