{{ define "styles" }}
<style>
  article {
    margin: 1rem !important;
    border-radius: 10px !important;
    margin-right: 10% !important;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  article.htmx-added {
    opacity: 0;
  }
  .msg-self {
    margin-left: 10% !important;
    margin-right: 0% !important;
  }
  .message-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  #chat {
    overflow-y: scroll;
    margin: 0.8rem;
    padding: 0.8rem;
    flex-grow: 1;
  }
  .fh {
    height: 100%;
  }
  .section {
    width: 70%;
    max-width: 1024px;
  }
  /* on mobile */
  @media screen and (max-width: 600px) {
    .section {
      width: 100%;
    }
  }
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #chatarea {
    display: flex;
    flex-direction: column;
    height: 92%;
  }
  .topbox {
    border-radius: 10px;
    padding: 0.8rem;
    background-color: #d6d6d6;
    display: flex;
    margin-bottom: 0.8rem;
  }
  body,
  html {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
</style>
{{ end }}
