{{ define "users" }}

<div class="modal is-active" id="modal">
  <div class="modal-background" hx-get="#" hx-swap="delete" hx-target="#modal"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Active Users</p>
      <button class="delete" aria-label="close" hx-get="#" hx-swap="delete" hx-target="#modal"></button>
    </header>
    <section class="modal-card-body">
      <ul>
        {{ range .users }}
        <li>&bull; {{ . }}</li>
        {{ end }}
      </ul>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" hx-get="#" hx-swap="delete" hx-target="#modal">OK</button>
    </footer>
  </div>
</div>

{{ end }}
